@import "tailwindcss";

html,
body {
  box-sizing: border-box;
}

@media screen and (max-width: 1199px) {
  .banner-width {
    width: 800px;
  }

  .triangle-1 {
    width: 300px;
    left: 7%;
    top: 18%;
  }

  .triangle-2 {
    width: 300px;
    right: 10%;
    bottom: 20%;
  }

  .madison-logo {
    width: 160px !important;
  }

  .login-img-01 {
    width: 60px !important;
    top: 29% !important;
    left: 18% !important;
  }

  .login-div-01 {
    top: 15% !important;
    left: 14% !important;
  }

  .login-img-02 {
    width: 60px !important;
    top: 29% !important;
    right: 5% !important;
  }

  .login-div-02 {
    top: 15% !important;
    right: 14% !important;
  }

  .login-img-03 {
    width: 50px !important;
    left: 10% !important;
    transform: translateY(-20%);
  }

  .login-div-03 {
    left: 5% !important;
    top: 35% !important;
  }

  .login-img-04 {
    width: 50px !important;
    right: -2% !important;
    transform: translateY(0%);
  }

  .login-div-04 {
    top: 36% !important;
    right: 5% !important;
  }

  .login-img-05 {
    width: 60px !important;
    bottom: 20% !important;
    left: 20% !important;
  }

  .login-div-05 {
    bottom: 36% !important;
    left: 15% !important;

  }

  .login-img-06 {
    width: 60px !important;
    bottom: 21% !important;
    right: 5% !important;
  }

  .login-div-06 {
    bottom: 37% !important;
    right: 15% !important;
  }

  .login-content {
    display: none;
  }

  .login-icon {
    font-size: 14px !important;
  }
}

@media screen and (max-width: 800px) {
  .login-banner {
    display: none !important;
  }

  .login-div {
    width: 90%;
  }
}

img.white-effect {
  filter: grayscale(100%) brightness(200%);
}



.spinnerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.spinner {
  width: 56px;
  height: 56px;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-right-color: #b88b1b;
  animation: tri-spinner 1s infinite linear;
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
  animation: tri-spinner 2s infinite;
}

.spinner::after {
  margin: 8px;
  animation-duration: 3s;
}

@keyframes tri-spinner {
  100% {
    transform: rotate(1turn);
  }
}

.loader {
  color: #4a4a4a;
  font-weight: 500;
  font-size: 25px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 40px;
  padding: 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 8px;
}

.words {
  overflow: hidden;
}

.word {
  display: block;
  height: 100%;
  padding-left: 6px;
  color: #b88b1b;
  animation: cycle-words 5s infinite;
}

@keyframes cycle-words {
  10% {
    -webkit-transform: translateY(-105%);
    transform: translateY(-105%);
  }

  25% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  35% {
    -webkit-transform: translateY(-205%);
    transform: translateY(-205%);
  }

  50% {
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
  }

  60% {
    -webkit-transform: translateY(-305%);
    transform: translateY(-305%);
  }

  75% {
    -webkit-transform: translateY(-300%);
    transform: translateY(-300%);
  }

  85% {
    -webkit-transform: translateY(-405%);
    transform: translateY(-405%);
  }

  100% {
    -webkit-transform: translateY(-400%);
    transform: translateY(-400%);
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #b88b1b;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a07a16;
}

::-webkit-scrollbar-button {
  display: none !important;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #b88b1b transparent;
}

button {
  cursor: pointer;
}