@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-size: 16px;
}

@media screen and (max-width: 1199px) {
  .banner-width {
    width: 800px;
  }

  .triangle-1 {
    width: 300px;
    left: 7%;
    top: 18%;
  }

  .triangle-2 {
    width: 300px;
    right: 10%;
    bottom: 20%;
  }
}

@media screen and (max-width: 800px) {
  .login-banner {
    display: none !important;
  }

  .login-div {
    width: 90%;
  }
}

.bg {
  background-image: url("../../public/sign-user-password-privacy-concept.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-overlay {
  background-color: #b88c1b88;
}