@import "tailwindcss";

@layer utilities {
  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .animate-slide-in-left {
    animation: slideInFromLeft 1s ease-out forwards;
  }
}


html,
body {
  box-sizing: border-box;
}

@media screen and (max-width: 1199px) {
  .banner-width {
    width: 800px;
  }

  .triangle-1 {
    width: 300px;
    left: 7%;
    top: 18%;
  }

  .triangle-2 {
    width: 300px;
    right: 10%;
    bottom: 20%;
  }

  .madison-logo {
    width: 160px !important;
  }

  .login-img-01 {
    width: 60px !important;
    top: 29% !important;
    left: 18% !important;
  }

  .login-div-01 {
    top: 15% !important;
    left: 14% !important;
  }

  .login-img-02 {
    width: 60px !important;
    top: 29% !important;
    right: 5% !important;
  }

  .login-div-02 {
    top: 15% !important;
    right: 14% !important;
  }

  .login-img-03 {
    width: 50px !important;
    left: 10% !important;
    transform: translateY(-20%);
  }

  .login-div-03 {
    left: 5% !important;
    top: 35% !important;
  }

  .login-img-04 {
    width: 50px !important;
    right: -2% !important;
    transform: translateY(0%);
  }

  .login-div-04 {
    top: 36% !important;
    right: 5% !important;
  }

  .login-img-05 {
    width: 60px !important;
    bottom: 20% !important;
    left: 20% !important;
  }

  .login-div-05 {
    bottom: 36% !important;
    left: 15% !important;

  }

  .login-img-06 {
    width: 60px !important;
    bottom: 21% !important;
    right: 5% !important;
  }

  .login-div-06 {
    bottom: 37% !important;
    right: 15% !important;
  }

  .login-content {
    display: none;
  }

  .login-icon {
    font-size: 14px !important;
  }
}

@media screen and (max-width: 800px) {
  .login-banner {
    display: none !important;
  }

  .login-div {
    width: 90%;
  }
}

img.white-effect {
  filter: grayscale(100%) brightness(200%);
}

.zoomAnimation {
  animation: zoom 2s infinite alternate ease-in-out;
}

@keyframes zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

@keyframes cycle-words {
  10% {
    -webkit-transform: translateY(-105%);
    transform: translateY(-105%);
  }

  25% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  35% {
    -webkit-transform: translateY(-205%);
    transform: translateY(-205%);
  }

  50% {
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
  }

  60% {
    -webkit-transform: translateY(-305%);
    transform: translateY(-305%);
  }

  75% {
    -webkit-transform: translateY(-300%);
    transform: translateY(-300%);
  }

  85% {
    -webkit-transform: translateY(-405%);
    transform: translateY(-405%);
  }

  100% {
    -webkit-transform: translateY(-400%);
    transform: translateY(-400%);
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #153087;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a07a16;
}

::-webkit-scrollbar-button {
  display: none !important;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #153087 transparent;
}

button {
  cursor: pointer;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}